footer {
    background-color: #D2D2A0;
}

#footer_elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 8% 24px 8%;
}

#name_link {
    padding: 20px;
}

#name_link>a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

#phone>p {
    padding-top: 10px;
    padding-bottom: 2px;
}

#address {
    padding-bottom: 20px;
}

.social-media-buttons {
    padding-top: 5px;
    padding-bottom: 30px;
}

#copyright{
    padding-bottom: 20px;
}